.navbar ul {
	font-size: 0;
	list-style-type: none;
}

.navbar ul li {
	font-size: 1rem;
/* 	font-weight: 400; */
	color: #333;
	display: inline-block;
/* 	padding: 15px; */
	position: relative;
}

.navbar ul li ul {
	display: none;
}

.navbar ul li:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.navbar ul li:hover ul {
	display: block;
	margin-top: 15px;
	width: 200px;
	left: 0;
	position: absolute;
}

.navbar ul li:hover ul li {
	display: block;
	background-color: #e7e7e7;
}

.navbar ul li:hover ul li span {
	float: right;
	color: #f9f9f9;
	background-color: #F03861;
	padding: 2px 5px;
	text-align: center;
	font-size: .8rem;
	border-radius: 3px;
}

.navbar ul li:hover ul li:hover {
	background-color: #e0e0e0;
}

.navbar ul li:hover ul li:hover span {
	background-color: #ee204e;
}